{% extends 'website/base.html' %}
{% load page_fragments %}

{% block content %}
    <div class="container mb-4">
        {% get_page_fragment 'welcome' %}
    </div>

    <div class="container-fluid">
        <div id="app">
            <div class="row">
                <div class="col-3 bg-dark text-white shadow">
                    <form>
                        <h4 class="my-3 text-center">Data selection</h4>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="speciesSelect">Species:</label>
                            <select class="form-control col-sm-5 form-control-sm" id="speciesSelect"
                                    v-model="selectedFilters.speciesId">
                                <option v-for="species in availableSpecies" :value="species.id">
                                    [[ species.scientific_name ]]
                                </option>
                            </select>
                        </div>

                        <div class="form-group ">
                            <input type="checkbox" id="checkbox-small-squares" v-model="selectedFilters.noSmallSquares">
                            <label class="col-form-label col-form-label-sm" for="checkbox-small-squares">Map: show data
                                at 5 or 10km
                                resolution only</label>
                        </div>
                        <div class="form-group ">
                            <input type="checkbox" id="checkbox-filter-leon"
                                   v-model="selectedFilters.filterOutLeonBecker">
                            <label class="col-form-label col-form-label-sm" for="checkbox-filter-leon">Filter out Léon
                                Becker</label>
                        </div>
                    </form>
                </div>
                <div class="col-9">
                    <div v-if="selectedSpecies">
                        <species-description :species-data="selectedSpecies" :counters-endpoint="conf.countersURL" :filters="selectedFilters"></species-description>
                    </div>

                    <h4>Results map</h4>
                    <arabel-map :squares-endpoint="conf.getSquaresDataURL" :filters="selectedFilters"></arabel-map>

                    <h4>Results table</h4>
                    <div v-if="selectedSpecies">

                        <arabel-table :occurrences-endpoint="conf.getOccurrencesDataURL"
                                      :filters="selectedFilters"></arabel-table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        var arabelConf = {
            availableSpeciesURL: '{% url "available-species-json" %}',
            getSquaresDataURL: '{% url "squares-for-occurrences-json" %}',
            getOccurrencesDataURL: '{% url "occurrences-json" %}',
            countersURL: '{% url "counters-json" %}'
        }

        window.onload = function () {
            new Vue({
                el: '#app',
                components: {
                    ArabelMap: ArabelMap,
                    SpeciesDescription: SpeciesDescription,
                },
                delimiters: ['[[', ']]'],
                data: {
                    selectedFilters: {
                        speciesId: null,
                        noSmallSquares: true,
                        filterOutLeonBecker: false
                    },
                    availableSpecies: [],
                    conf: arabelConf
                },
                computed: {
                    selectedSpecies: function () {
                        return (this.selectedFilters.speciesId ? this.availableSpecies.find(s => s.id == this.selectedFilters.speciesId) : null)
                    }
                },
                mounted: function () {
                    var vm = this;

                    axios
                        .get(vm.conf.availableSpeciesURL)
                        .then(function (response) {
                            vm.availableSpecies = response.data.species
                        })
                },
            })
        }
    </script>
{% endblock content %}
