{% extends 'website/base.html' %}
{% load page_fragments %}

{% block content %}
    {% get_page_fragment 'welcome' %}


    <div class="col">
        <div class="row">
            <div id="app">
                <select v-model="selectedSpeciesId">
                    <option v-for="species in availableSpecies" :value="species.id">
                        [[ species.scientific_name ]]
                    </option>
                </select>
            </div>
        </div>
    </div>

    <script>
        var arabelConf = {
            availableSpeciesURL: '{% url "available-species-json" %}'
        }

        window.onload = function () {
            var app = new Vue({
                el: '#app',
                delimiters: ['[[', ']]'],
                data: {
                    selectedSpeciesId: null,
                    availableSpecies: [],
                },
                mounted: function() {
                    var vm = this;

                    axios
                        .get(arabelConf.availableSpeciesURL)
                        .then(function (response) {
                            vm.availableSpecies = response.data.species
                        })
                }
            })
        }
    </script>
{% endblock content %}
