{% extends 'website/base.html' %}
{% load page_fragments %}

{% block content %}
    {% get_page_fragment 'welcome' %}

    <div id="app">
        <div class="col">
            <div class="row">
                <form>
                    <div class="form-group">
                        <label for="speciesSelect">Species:</label>
                        <select class="form-control" id="speciesSelect" v-model="selectedSpeciesId">
                            <option v-for="species in availableSpecies" :value="species.id">
                                [[ species.scientific_name ]]
                            </option>
                        </select>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" id="checkbox-small-squares" v-model="noSmallSquares">
                        <label class="form-check-label" for="checkbox-small-squares">Show data at 5 or 10km resolution</label>
                    </div>
                </form>
            </div>
        </div>

        <div v-if="selectedSpecies" class="col">
            <div class="row">
                <species-description :species-data="selectedSpecies"></species-description>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <arabel-map :species-id="selectedSpeciesId" :squares-endpoint="conf.getSquaresDataURL" :no-small-squares="noSmallSquares"/>
            </div>
        </div>
    </div>


    <script>
        var arabelConf = {
            availableSpeciesURL: '{% url "available-species-json" %}',
            getSquaresDataURL: '{% url "squares-for-occurrences-json" %}',
        }

        window.onload = function () {
            new Vue({
                el: '#app',
                components: {
                    ArabelMap: ArabelMap,
                    SpeciesDescription: SpeciesDescription
                },
                delimiters: ['[[', ']]'],
                data: {
                    selectedSpeciesId: null,
                    noSmallSquares: true,
                    availableSpecies: [],
                    conf: arabelConf
                },
                computed: {
                    selectedSpecies: function() {
                        return (this.selectedSpeciesId ? this.availableSpecies.find(s => s.id == this.selectedSpeciesId) : null)
                    }
                },
                mounted: function () {
                    var vm = this;

                    axios
                        .get(vm.conf.availableSpeciesURL)
                        .then(function (response) {
                            vm.availableSpecies = response.data.species
                        })
                },
            })
        }
    </script>
{% endblock content %}
